<div>
  <header >
  <div class="profile">
    <img src="assets/admin.jpg" alt="My Image">
    <h1 *ngIf="isLoaded">{{user.username}}</h1>
  </div>
  <nav>
    <ul>
      <li><a  routerLink="offers"><i  class="pi pi-home"></i>Serach for offers</a></li>
      <li><a  routerLink="account"><i  class="pi pi-user"></i>Update Account</a></li>
      <li><a  routerLink="feedback"><i  class="pi pi-file"></i>Send Feedbak</a></li>
    </ul>
  </nav>

  <div class="footer">
    <p>&copy; copyright 2023 <br> Developed By <label>Chabrik Abdellatif</label> </p>
  </div>
  </header>
</div>
