<div class="card flex justify-content-center">
  <p-sidebar [(visible)]="sidebarVisible"  (onHide)="hide()">
      <h3>Update User</h3>
      <div class="flex flex-column gap-2">
          <label >Username : </label>
          <input pInputText [(ngModel)]="user.username" style="width: 55%px;" aria-describedby="username-help"  />
      </div>
      <div class="flex flex-row gap-4 mb-3">
        <label >Activate notifications : </label>
        <p-inputSwitch [(ngModel)]="user.activateNotifications"></p-inputSwitch>
      </div>
      <p-button  label="Submit" (click)="updateUser()"></p-button>
  </p-sidebar>
</div>
