<div>
  <header >
  <div class="profile">
    <img src="assets/admin.jpg" alt="My Image">
    <h1>Chabrik Abdellatif</h1>
  </div>
  <nav>
    <ul>
      <li><a  routerLink="users"><i  class="pi pi-home"></i>View users</a></li>
      <li><a  routerLink="services"><i  class="pi pi-user"></i>Run services</a></li>
      <li><a  routerLink="account"><i  class="pi pi-file"></i>Update account</a></li>
    </ul>
  </nav>

  <div class="footer">
    <p>&copy; copyright 2023 <br> Developed By <label>Chabrik Abdellatif</label> </p>
  </div>
  </header>
</div>
